*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

:root{
    --blue:#0d5c83;
    --blue2:#0f7aad;
    --light:#eef7fc;
    --card:#ffffff;
    --border:#d9e6ef;
    --green:#16a34a;
    --red:#dc2626;
}

body{
    font-family:Arial, sans-serif;
    background:var(--light);
    color:#1f2933;
    line-height:1.6;
}

.hero{
    background:linear-gradient(135deg,#083d5c,#0f7aad);
    color:white;
    padding:35px;
}

.hero h1{
    font-size:34px;
    margin:10px 0;
}

.badge{
    display:inline-block;
    background:rgba(255,255,255,0.2);
    padding:6px 12px;
    border-radius:999px;
}

.layout{
    display:flex;
    min-height:100vh;
}

.sidebar{
    width:300px;
    background:white;
    padding:20px;
    border-right:1px solid var(--border);
}

.sidebar h2{
    margin-bottom:15px;
    color:var(--blue);
}

.menu-btn{
    width:100%;
    border:none;
    padding:14px;
    margin-bottom:10px;
    border-radius:12px;
    background:#e8f5ff;
    cursor:pointer;
    text-align:left;
    font-weight:bold;
    transition:0.3s;
}

.menu-btn:hover{
    background:var(--blue);
    color:white;
}

main{
    flex:1;
    padding:30px;
}

.card{
    background:white;
    padding:25px;
    border-radius:18px;
    margin-bottom:22px;
    box-shadow:0 10px 25px rgba(0,0,0,0.06);
}

.card h2,
.card h3{
    color:var(--blue);
    margin-bottom:12px;
}

.formula{
    background:#eef8ff;
    border-left:5px solid var(--blue2);
    padding:12px;
    border-radius:12px;
    margin-top:10px;
    font-weight:bold;
}

.example-step{
    background:#f8fcff;
    border:1px solid var(--border);
    padding:12px;
    border-radius:12px;
    margin-top:10px;
}

.question{
    background:#f8fcff;
    border:1px solid var(--border);
    padding:16px;
    border-radius:14px;
    margin-bottom:15px;
}

.options{
    margin-top:10px;
}

.option{
    display:block;
    padding:10px;
    background:white;
    border:1px solid var(--border);
    border-radius:10px;
    margin-bottom:8px;
    cursor:pointer;
}

.option:hover{
    border-color:var(--blue2);
}

.check-btn{
    background:var(--blue);
    color:white;
    border:none;
    padding:14px 18px;
    border-radius:12px;
    cursor:pointer;
    font-weight:bold;
    margin-bottom:20px;
}

.correct{
    border-color:var(--green)!important;
    background:#f0fdf4!important;
}

.wrong{
    border-color:var(--red)!important;
    background:#fff1f2!important;
}

.feedback{
    margin-top:10px;
    font-weight:bold;
}

.result{
    display:none;
    padding:15px;
    border-radius:12px;
    margin-bottom:20px;
    background:#edfdf4;
    border:1px solid #bbf7d0;
}

@media(max-width:900px){

.layout{
    flex-direction:column;
}

.sidebar{
    width:100%;
}

.hero h1{
    font-size:26px;
}

}
